<script setup lang="ts">
import { ref } from 'vue';

const nombre = ref('Manuel');
const mensajeErrorNombre = ref('');
const apellido = ref('Castro');
const mensajeErrorApellido = ref('');
const edad = ref('20');
const mensajeErrorEdad = ref('');
const genero = ref('Masculino');
const mensajeErrorGenero = ref('');
const error = ref(false);

const validarNombre = () => {
  const longitudNombre = nombre.value.length;

  if (longitudNombre < 5 || longitudNombre > 18) {
    error.value = true;
    mensajeErrorNombre.value = 'El nombre debe tener entre 5 y 18 caracteres.';
  } else {
    error.value = false;
    mensajeErrorNombre.value = '';
  }
};

const validarApellido = () => {
  if (apellido.value.toLowerCase() === nombre.value.toLowerCase()) {
    error.value = true;
    mensajeErrorApellido.value = 'El apellido no puede ser igual al nombre.';
  } else {
    error.value = false;
    mensajeErrorApellido.value = '';
  }
};

const validarEdad = () => {
  const valorEdad = parseInt(edad.value, 10);

  if (isNaN(valorEdad) || valorEdad <= 0 || valorEdad >= 60) {
    error.value = true;
    mensajeErrorEdad.value = 'La edad debe ser mayor a 0 y menor a 60.';
  } else {
    error.value = false;
    mensajeErrorEdad.value = '';
  }
};

const validarGenero = () => {
    mensajeErrorGenero.value = 'El género debe ser "Masculino", "Femenino" u "Otro".';
};
</script>

<template>
  <main>
    <div class="contenedor">
    <form>
      <h1>Formulario</h1>
      
      <div class="campo">
        <label for="nombre">Nombre</label>
        <input @input="validarNombre" type="text" v-model="nombre" id="nombre">
      </div>

      <div class="campo">
        <label for="apellido">Apellido</label>
        <input @input="validarApellido" type="text" v-model="apellido" id="apellido">
      </div>

      <div class="campo">
        <label for="edad">Edad</label>
        <input @input="validarEdad" type="number" v-model="edad" id="edad">
      </div>

      <div class="campo">
        <label for="genero">Género</label>
        <select @input="validarGenero" v-model="genero" id="genero">
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Otro">Otro</option>

        </select>
      </div>
    </form>

    <div class="resultado">
      <h1>Su nombre es:</h1>
      <h1 :class="{ 'error': error }">{{ nombre }}</h1>
      <p style="color: red;">{{ mensajeErrorNombre }}</p>

      <h1>Su apellido es:</h1>
      <h1 :class="{ 'error': error }">{{ apellido }}</h1>
      <p style="color: red;">{{ mensajeErrorApellido }}</p>

      <h1>Usted tiene:</h1>
      <h1 :class="{ 'error': error }">{{ edad }} años</h1>
      <p style="color: red;">{{ mensajeErrorEdad }}</p>


      <h1>Y su género es:</h1>
      <h1 :class="{ 'error': error }">{{ genero }}</h1>
      <p style="color: red;">{{ mensajeErrorGenero }}</p>

    </div>

  </div>
  </main>
</template>

<style>
main {
  font-family: 'Arial', sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

.contenedor {
  display: flex;
  justify-content: space-between;
}

form, .resultado {
  background-color: none;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  flex: 1;
}

.resultado{
  margin-left: 50px;
  text-align: center;
} 

.campo {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
}

.error {
  font-size: 20px;
  font-weight: bold;
}
</style>
